In [268]:
#import libraries 
import numpy as np
import pandas as pd

In [269]:
#Load the data
profile_src_json = pd.read_json('/Users/javi/Downloads/profiles_2021-11-10.json')

In [270]:
#create a copy in order to work with it and not to damage our original dataSet
profile_copy = profile_src_json.copy()

In [271]:
#Drop off "__v" column as it has only 0 values
del profile_copy["__v"]

In [156]:
#define the dataframe 
pre_df = profile_copy

In [273]:
pre_df.head(3)

,_id,appOpens,conversations,conversationsMeta,matches,messages,messagesReceived,messagesSent,swipeLikes,swipePasses,...,longest_conver_day,num_messages_conver,all_matches,all_swipeLikes,all_swipePasses,all_BirthDates,all_Cities,all_Countreis,all_genders,all_interestedIn
0,00b74e27ad1cbb2ded8e907fcc49eaaf,"{'2016-01-02': 26, '2016-01-13': 10, '2016-01-...","[{'match_id': 'Match 739', 'messages': [{'to':...","{'nrOfConversations': 739, 'longestConversatio...","{'2016-01-02': 10, '2016-01-13': 5, '2016-01-1...","{'sent': {'2016-01-02': 11, '2016-01-13': 2, '...","{'2016-01-02': 12, '2016-01-13': 3, '2016-01-1...","{'2016-01-02': 11, '2016-01-13': 2, '2016-01-1...","{'2016-01-02': 50, '2016-01-13': 70, '2016-01-...","{'2016-01-02': 14, '2016-01-13': 93, '2016-01-...",...,683.557442,226,"[10, 5, 9, 8, 6, 13, 4, 14, 2, 12, 2, 8, 2, 4,...","[50, 70, 21, 5, 29, 92, 27, 77, 84, 76, 82, 93...","[14, 93, 75, 96, 71, 38, 76, 56, 21, 49, 41, 2...",[1976-01-01],[Trondheim],[Norway],[M],[F]
1,024610702baf540af5637873cd1534e9,"{'2016-07-12': 20, '2016-07-13': 18, '2016-07-...","[{'match_id': 'Match 464', 'messages': [{'to':...","{'nrOfConversations': 464, 'longestConversatio...","{'2016-07-12': 1, '2016-07-13': 0, '2016-07-14...","{'sent': {'2016-07-12': 0, '2016-07-13': 0, '2...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 221, '2016-07-...","{'2016-07-12': 0, '2016-07-13': 61, '2016-07-1...",...,622.466528,56,"[1, 0, 1, 1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 221, 108, 215, 110, 215, 118, 115, 116, 4,...","[0, 61, 19, 90, 23, 54, 40, 42, 29, 0, 42, 23,...",[1997-07-04],[Richmond],[VA],[M],[F]
2,0a5e3dd8489fe67485ddb7d6adb26ebd,"{'2019-07-01': 61, '2019-07-02': 154, '2019-07...","[{'match_id': 'Match 303', 'messages': [{'to':...","{'nrOfConversations': 303, 'longestConversatio...","{'2019-07-01': 13, '2019-07-02': 12, '2019-07-...","{'sent': {'2019-07-01': 12, '2019-07-02': 66, ...","{'2019-07-01': 6, '2019-07-02': 70, '2019-07-0...","{'2019-07-01': 12, '2019-07-02': 66, '2019-07-...","{'2019-07-01': 87, '2019-07-02': 39, '2019-07-...","{'2019-07-01': 30, '2019-07-02': 12, '2019-07-...",...,295.283414,106,"[13, 12, 23, 15, 9, 5, 2, 1, 0, 3, 0, 0, 1, 1,...","[87, 39, 122, 67, 35, 14, 26, 98, 46, 99, 15, ...","[30, 12, 48, 26, 18, 10, 19, 55, 19, 99, 12, 4...",[1998-02-06],[Richmond],[VA],[M],[F]

In [157]:
#get the user id
allusersids = []
for uniqueid in pre_df.userId:
    userid = uniqueid[-6:]
    allusersids.append(userid)
print(len(allusersids))

1209

In [158]:
#Take 100 app onenings for each user and check how many times it open the app in a day
all_opens = []
for open in pre_df.appOpens:
    dates = []
    for date in open:
        dates.append(open[date])
    dates=dates[:100]
    all_opens.append(dates)
len(all_opens)

1209

In [159]:
#Take 100 conversations for each user in a list to add it to our dataFrame 
all_messages=[]
for conversation in pre_df.conversations:
    messages=[]
    for match in conversation:
        for message in match['messages']:
            if 'message' in message.keys():
                messages.append(message['message'])
    messages=messages[:100]
    all_messages.append(messages)
len(all_messages)

1209

In [161]:
#Take the conversationsMeta of each user and brake down the dictionary format
""""This is in a total time frame but the other has a len of 100, it that a problem  """ 
totalNrOfConversation=[]
totalLongestConversation=[]
totalLongestConversationInDay=[]
totalNrOfOneMessageConversation=[]


for conversationMeta in pre_df.conversationsMeta:
    for nrOfConversation in conversationMeta:
        if nrOfConversation == 'nrOfConversations':
            nrOfConversations = 0
            nrOfConversations += (conversationMeta[nrOfConversation])
    totalNrOfConversation.append(nrOfConversations)


for conversationMeta in pre_df.conversationsMeta:
    for longestConversa in conversationMeta:
        if longestConversa == 'longestConversation':
            longestConver = 0
            longestConver += (conversationMeta[longestConversa])
    totalLongestConversation.append(longestConver)
        

for conversationMeta in pre_df.conversationsMeta:
    for longestConversationInDay in conversationMeta:
        if longestConversationInDay == 'longestConversationInDays':
            longestConverDay = 0
            longestConverDay += conversationMeta[longestConversationInDay]
    totalLongestConversationInDay.append(longestConverDay)
    
    
for conversationMeta in pre_df.conversationsMeta:
    for nrOfOneMessageConversation in conversationMeta:
        if nrOfOneMessageConversation == 'nrOfOneMessageConversations':
            nrOfOneMessageConver = 0
            nrOfOneMessageConver += conversationMeta[nrOfOneMessageConversation]
    totalNrOfOneMessageConversation.append(nrOfOneMessageConver)

print('totalNrOfConversation', len(totalNrOfConversation))
print('totalLongestConversation', len(totalLongestConversation))
print('totalLongestConversationInDay', len(totalLongestConversationInDay))
print('totalNrOfOneMessageConversation', len(totalNrOfOneMessageConversation))

totalNrOfConversation 1209
totalLongestConversation 1209
totalLongestConversationInDay 1209
totalNrOfOneMessageConversation 1209

In [162]:
#Take 100 app matches for each user and check how many times it open the app in a day
all_matches = []
for love in pre_df.matches:
    matches = []
    for heart in love:
        matches.append(love[heart])
    matches=matches[:100]
    all_matches.append(matches)
len(all_matches)

1209

In [163]:
#Take 100 app swipeLikes for each user and check how many times it open the app in a day
all_swipeLikes = []
for atraction in pre_df.swipeLikes:
    matches = []
    for heart in atraction:
        matches.append(atraction[heart])
    matches=matches[:100]
    all_swipeLikes.append(matches)
len(all_swipeLikes)

1209

In [164]:
#Take 100 app swipePasses for each user and check how many times it open the app in a day
all_swipePasses = []
for dislike in pre_df.swipePasses:
    dislikes = []
    for left in dislike:
        dislikes.append(dislike[left])
    dislikes=dislikes[:100]
    all_swipePasses.append(dislikes)
len(all_swipePasses)

1209

In [165]:
#Take user anonymous data and break down the dictionary format
allBirthDates=[]
allcities = []
allcountreis=[]
allgenders=[]
allinterestedIn=[]

#Users date of birth
for person in pre_df.user:
    for birthDate in person:
        if birthDate == 'birthDate':
            date = person[birthDate][:10]
            userBirthDate = []
            userBirthDate.append(date)
    allBirthDates.append(userBirthDate)

#Users city
for person in pre_df.user:
    for city in person:
        if city == 'cityName':
            cities = []
            cities.append(person[city])
    allcities.append(cities)

#Users country
for person in pre_df.user:
    for country in person:
        if country == 'country':
            countries = []
            countries.append(person[country])
    allcountreis.append(countries)
        
#Users gender
for person in pre_df.user:
    for gender in person:
        if gender == 'gender':
            genders = []
            genders.append(person[gender])
    allgenders.append(genders)

#Users interest In
for person in pre_df.user:
    for interest in person:
        if interest == 'interestedIn':
            searching = []
            searching.append(person[interest])
    allinterestedIn.append(searching)


print(len(allBirthDates))
print(len(allcities))
print(len(allcountreis))
print(len(allgenders))
print(len(allinterestedIn))

1209
1209
1209
1209
1209

CREATE THE DATASET WITH WE ARE GOING TO WORK

In [179]:
#We insert the unique user id
df = pd.DataFrame(allusersids,columns=['user_id'])
df.head(3)

  user_id
0  49eaaf
1  1534e9
2  b26ebd

In [180]:
#check if there is user with Null value in their id
pd.isnull(df.loc[1, 'user_id'])

False

In [266]:
#Merge app_opens data with df
df['app_opens']=all_opens

In [212]:
#check if there is user with Null value in app_opens colum
pd.isnull('app_opens')
""""ï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Šï¼Š"""

False

In [265]:
#Merge all_messages data with df
df['all_messages']=all_messages

In [206]:
#check if the list messages has any conversations 
df['all_messages'].str.len()!=0

0       False
1        True
2        True
3        True
4       False
        ...
1204     True
1205     True
1206     True
1207     True
1208     True
Name: all_messages, Length: 1209, dtype: bool

In [264]:
#Merge number_conversations data with df
df['number_conversations']= totalNrOfConversation

In [209]:
#check if there is user with 0 value in app_opens colum
count = (df['number_conversations'] == 0).sum()
print('The number of empty number_conversations are: ', count)

The number of empty number_conversations are:  29

In [263]:
#Merge longest_conver data with df
df['longest_conver']=totalLongestConversation

In [216]:
#check if there is user with 0 time conversation
zero_time = (df['longest_conver'] == 0).sum()
print('The number with 0 time conversations are: ', zero_time)

The number with 0 time conversations are:  33

In [254]:
#Merge longest_conver_day data with df
df['longest_conver_day']=totalLongestConversationInDay

In [218]:
#check if there is user with 0 time conversation insde the logset Conversation day column
zero_time_day = (df['longest_conver_day'] == 0).sum()
print('The number with 0 time conversations in day are: ', zero_time_day)

The number with 0 time conversations in day are:  52

In [255]:
#Merge num_messages_conver data with df
df['num_messages_conver']=totalNrOfOneMessageConversation

In [222]:
#check if there is user with 0 messages Conversation day column
messages_conver = (df['num_messages_conver'] == 0).sum()
print('The number with 0 time conversations in day are: ', messages_conver)

The number with 0 time conversations in day are:  82

In [256]:
#Merge all_matches data with df
df['all_matches']=all_matches

In [242]:
"""" To fix becasue I think the result is not true """
#check if there is user with zero matches
zero_matches = (df['all_matches'] == 0).sum()
print('The number of user with 0 matches are: ', zero_matches)

The number of user with 0 matches are:  0

In [257]:
#Merge all_matches data with df
df['all_swipeLikes']=all_swipeLikes

In [258]:
#Merge all_swipePasses data with df
df['all_swipePasses']=all_swipePasses

In [259]:
#Merge all_BirthDates data with df
df['all_BirthDates']= allBirthDates

In [ ]:
"""" To fix becasue I think the result is not true """
#check if there is user without a Birthday data 
not_birthday = (df['all_BirthDates'] == []).sum()
print('The number of user with 0 matches are: ', not_birthday)

In [260]:
#Merge all_Cities data with df
df['all_Cities']= allcities

In [261]:
#Merge all_genders data with df
df['all_genders']= allgenders

In [262]:
#Merge all_interestedIn data with df
df['all_interestedIn']= allinterestedIn

In [272]:
df.head(3)

,user_id,app_opens,all_messages,number_conversations,longest_conver,longest_conver_day,num_messages_conver,all_matches,all_swipeLikes,all_swipePasses,all_BirthDates,all_Cities,all_genders,all_interestedIn
0,49eaaf,"[26, 10, 28, 18, 15, 2, 16, 17, 17, 7, 10, 23,...",[],739,133,683.557442,226,"[10, 5, 9, 8, 6, 13, 4, 14, 2, 12, 2, 8, 2, 4,...","[50, 70, 21, 5, 29, 92, 27, 77, 84, 76, 82, 93...","[14, 93, 75, 96, 71, 38, 76, 56, 21, 49, 41, 2...",[1976-01-01],[Trondheim],[M],[F]
1,1534e9,"[20, 18, 7, 6, 6, 4, 1, 1, 1, 1, 3, 2, 2, 5, 2...","[Hello again, so now that we matched again, wh...",464,36,622.466528,56,"[1, 0, 1, 1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 221, 108, 215, 110, 215, 118, 115, 116, 4,...","[0, 61, 19, 90, 23, 54, 40, 42, 29, 0, 42, 23,...",[1997-07-04],[Richmond],[M],[F]
2,b26ebd,"[61, 154, 139, 128, 42, 22, 31, 29, 10, 17, 2,...","[It&rsquo;s me, the chicken nuggets, Exactly w...",303,33,295.283414,106,"[13, 12, 23, 15, 9, 5, 2, 1, 0, 3, 0, 0, 1, 1,...","[87, 39, 122, 67, 35, 14, 26, 98, 46, 99, 15, ...","[30, 12, 48, 26, 18, 10, 19, 55, 19, 99, 12, 4...",[1998-02-06],[Richmond],[M],[F]

In [ ]:
#choropleth for visual representation of the worldwide users