In [2]:
#import libraries 
import numpy as np
import pandas as pd

In [3]:
#Load the data
profile_src_json = pd.read_json('/Users/javi/Downloads/profiles_2021-11-10.json')

In [4]:
#create a copy in order to work with it and not to damage our original dataSet
profile_copy = profile_src_json.copy()

In [5]:
#Drop off "__v" column as it has only 0 values
del profile_copy["__v"]
# profile_copy.drop(columns=["__v"])
profile_copy.head(3)

,_id,appOpens,conversations,conversationsMeta,matches,messages,messagesReceived,messagesSent,swipeLikes,swipePasses,swipes,user,userId
0,00b74e27ad1cbb2ded8e907fcc49eaaf,"{'2016-01-02': 26, '2016-01-13': 10, '2016-01-...","[{'match_id': 'Match 739', 'messages': [{'to':...","{'nrOfConversations': 739, 'longestConversatio...","{'2016-01-02': 10, '2016-01-13': 5, '2016-01-1...","{'sent': {'2016-01-02': 11, '2016-01-13': 2, '...","{'2016-01-02': 12, '2016-01-13': 3, '2016-01-1...","{'2016-01-02': 11, '2016-01-13': 2, '2016-01-1...","{'2016-01-02': 50, '2016-01-13': 70, '2016-01-...","{'2016-01-02': 14, '2016-01-13': 93, '2016-01-...","{'likes': {'2016-01-02': 50, '2016-01-13': 70,...","{'birthDate': '1976-01-01T00:00:00.000Z', 'age...",00b74e27ad1cbb2ded8e907fcc49eaaf
1,024610702baf540af5637873cd1534e9,"{'2016-07-12': 20, '2016-07-13': 18, '2016-07-...","[{'match_id': 'Match 464', 'messages': [{'to':...","{'nrOfConversations': 464, 'longestConversatio...","{'2016-07-12': 1, '2016-07-13': 0, '2016-07-14...","{'sent': {'2016-07-12': 0, '2016-07-13': 0, '2...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 221, '2016-07-...","{'2016-07-12': 0, '2016-07-13': 61, '2016-07-1...","{'likes': {'2016-07-12': 0, '2016-07-13': 221,...","{'birthDate': '1997-07-04T00:00:00.000Z', 'age...",024610702baf540af5637873cd1534e9
2,0a5e3dd8489fe67485ddb7d6adb26ebd,"{'2019-07-01': 61, '2019-07-02': 154, '2019-07...","[{'match_id': 'Match 303', 'messages': [{'to':...","{'nrOfConversations': 303, 'longestConversatio...","{'2019-07-01': 13, '2019-07-02': 12, '2019-07-...","{'sent': {'2019-07-01': 12, '2019-07-02': 66, ...","{'2019-07-01': 6, '2019-07-02': 70, '2019-07-0...","{'2019-07-01': 12, '2019-07-02': 66, '2019-07-...","{'2019-07-01': 87, '2019-07-02': 39, '2019-07-...","{'2019-07-01': 30, '2019-07-02': 12, '2019-07-...","{'likes': {'2019-07-01': 87, '2019-07-02': 39,...","{'birthDate': '1998-02-06T00:00:00.000Z', 'age...",0a5e3dd8489fe67485ddb7d6adb26ebd

In [6]:
#define the dataframe 
df = profile_copy

In [16]:
#Take 100 app onenings for each user and check how many times it open the app in a day
all_opens = []
for open in df.appOpens:
    dates = []
    for date in open:
        dates.append(open[date])
    dates=dates[:100]
    all_opens.append(dates)
len(all_opens)

1209

In [64]:
#Take 100 conversations for each user in a list to add it to our dataFrame 
all_messages=[]
for conversation in df.conversations:
    messages=[]
    for match in conversation:
        for message in match['messages']:
            if 'message' in message.keys():
                messages.append(message['message'])
    messages=messages[:100]
    all_messages.append(messages)
len(all_messages)

1209

In [93]:
#Take the conversationsMeta of each user and brake down the dictionary format
""""This is in a total time frame but the other has a len of 100, it that a problem  """ 
totalNrOfConversation=[]
totalLongestConversation=[]
totalLongestConversationInDay=[]
totalNrOfOneMessageConversation=[]


for conversationMeta in df.conversationsMeta:
    for nrOfConversation in conversationMeta:
        if nrOfConversation == 'nrOfConversations':
            nrOfConversations = 0
            nrOfConversations += (conversationMeta[nrOfConversation])
    totalNrOfConversation.append(nrOfConversations)


for conversationMeta in df.conversationsMeta:
    for longestConversa in conversationMeta:
        if longestConversa == 'longestConversation':
            longestConver = 0
            longestConver += (conversationMeta[longestConversa])
    totalLongestConversation.append(longestConver)
        

for conversationMeta in df.conversationsMeta:
    for longestConversationInDay in conversationMeta:
        if longestConversationInDay == 'longestConversationInDays':
            longestConverDay = 0
            longestConverDay += conversationMeta[longestConversationInDay]
    totalLongestConversationInDay.append(longestConverDay)
    
    
for conversationMeta in df.conversationsMeta:
    for nrOfOneMessageConversation in conversationMeta:
        if nrOfOneMessageConversation == 'nrOfOneMessageConversations':
            nrOfOneMessageConver = 0
            nrOfOneMessageConver += conversationMeta[nrOfOneMessageConversation]
    totalNrOfOneMessageConversation.append(nrOfOneMessageConver)

print('totalNrOfConversation', len(totalNrOfConversation))
print('totalLongestConversation', len(totalLongestConversation))
print('totalLongestConversationInDay', len(totalLongestConversationInDay))
print('totalNrOfOneMessageConversation', len(totalNrOfOneMessageConversation))

totalNrOfConversation 1209
totalLongestConversation 1209
totalLongestConversationInDay 1209
totalNrOfOneMessageConversation 1209

In [94]:
df['app_opens']=all_opens
df['all_messages']=all_messages
df['number_conversations']= totalNrOfConversation
df['longest_conver']=totalLongestConversation
df['longest_conver_day']=totalLongestConversationInDay
df['num_messages_conver']=totalNrOfOneMessageConversation

df.head(3)

,_id,appOpens,conversations,conversationsMeta,matches,messages,messagesReceived,messagesSent,swipeLikes,swipePasses,swipes,user,userId,app_opens,all_messages,number_conversations,longest_conver,longest_conver_day,num_messages_conver
0,00b74e27ad1cbb2ded8e907fcc49eaaf,"{'2016-01-02': 26, '2016-01-13': 10, '2016-01-...","[{'match_id': 'Match 739', 'messages': [{'to':...","{'nrOfConversations': 739, 'longestConversatio...","{'2016-01-02': 10, '2016-01-13': 5, '2016-01-1...","{'sent': {'2016-01-02': 11, '2016-01-13': 2, '...","{'2016-01-02': 12, '2016-01-13': 3, '2016-01-1...","{'2016-01-02': 11, '2016-01-13': 2, '2016-01-1...","{'2016-01-02': 50, '2016-01-13': 70, '2016-01-...","{'2016-01-02': 14, '2016-01-13': 93, '2016-01-...","{'likes': {'2016-01-02': 50, '2016-01-13': 70,...","{'birthDate': '1976-01-01T00:00:00.000Z', 'age...",00b74e27ad1cbb2ded8e907fcc49eaaf,"[26, 10, 28, 18, 15, 2, 16, 17, 17, 7, 10, 23,...",[],739,133,683.557442,226
1,024610702baf540af5637873cd1534e9,"{'2016-07-12': 20, '2016-07-13': 18, '2016-07-...","[{'match_id': 'Match 464', 'messages': [{'to':...","{'nrOfConversations': 464, 'longestConversatio...","{'2016-07-12': 1, '2016-07-13': 0, '2016-07-14...","{'sent': {'2016-07-12': 0, '2016-07-13': 0, '2...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 221, '2016-07-...","{'2016-07-12': 0, '2016-07-13': 61, '2016-07-1...","{'likes': {'2016-07-12': 0, '2016-07-13': 221,...","{'birthDate': '1997-07-04T00:00:00.000Z', 'age...",024610702baf540af5637873cd1534e9,"[20, 18, 7, 6, 6, 4, 1, 1, 1, 1, 3, 2, 2, 5, 2...","[Hello again, so now that we matched again, wh...",464,36,622.466528,56
2,0a5e3dd8489fe67485ddb7d6adb26ebd,"{'2019-07-01': 61, '2019-07-02': 154, '2019-07...","[{'match_id': 'Match 303', 'messages': [{'to':...","{'nrOfConversations': 303, 'longestConversatio...","{'2019-07-01': 13, '2019-07-02': 12, '2019-07-...","{'sent': {'2019-07-01': 12, '2019-07-02': 66, ...","{'2019-07-01': 6, '2019-07-02': 70, '2019-07-0...","{'2019-07-01': 12, '2019-07-02': 66, '2019-07-...","{'2019-07-01': 87, '2019-07-02': 39, '2019-07-...","{'2019-07-01': 30, '2019-07-02': 12, '2019-07-...","{'likes': {'2019-07-01': 87, '2019-07-02': 39,...","{'birthDate': '1998-02-06T00:00:00.000Z', 'age...",0a5e3dd8489fe67485ddb7d6adb26ebd,"[61, 154, 139, 128, 42, 22, 31, 29, 10, 17, 2,...","[It&rsquo;s me, the chicken nuggets, Exactly w...",303,33,295.283414,106

In [ ]:
#get the conversations of all users 
for i in profile_copy["conversations"]:
    print(i)

""""
The loop brake after 4 minutes of running!!!!
"""

In [13]:
#import libraries to move data from JSON to a folder
# A solution that I found but it didnt work 
import shutil
import os
import glob
import json
from os import path

In [16]:
all_files = '/Downloads'
male = '/Downloads/MALE'
female = '/Downloads/FEMALE'
files = glob.glob(all_files + "profiles_2021-11-10.json")
for file in files:
    with open(file, encoding="utf-8") as f:
        data = json.load(f)
        stat = data["user"]
        for stats in stat:
            if stat["gender"] == "M":
                try:
                    shutil.move(os.path.join(all_files, file).male)
                except:
                    pass
            else:
                try:
                    shutil.move(os.path.join(all_files, file).female)
                except:
                    pass