In [136]:
#import libraries 
import numpy as np
import pandas as pd

In [137]:
#Load the data
profile_src_json = pd.read_json('/Users/javi/Downloads/profiles_2021-11-10.json')

In [138]:
#create a copy in order to work with it and not to damage our original dataSet
profile_copy = profile_src_json.copy()

In [139]:
#Drop off "__v" column as it has only 0 values
del profile_copy["__v"]
# profile_copy.drop(columns=["__v"])
profile_copy.head(3)

,_id,appOpens,conversations,conversationsMeta,matches,messages,messagesReceived,messagesSent,swipeLikes,swipePasses,swipes,user,userId
0,00b74e27ad1cbb2ded8e907fcc49eaaf,"{'2016-01-02': 26, '2016-01-13': 10, '2016-01-...","[{'match_id': 'Match 739', 'messages': [{'to':...","{'nrOfConversations': 739, 'longestConversatio...","{'2016-01-02': 10, '2016-01-13': 5, '2016-01-1...","{'sent': {'2016-01-02': 11, '2016-01-13': 2, '...","{'2016-01-02': 12, '2016-01-13': 3, '2016-01-1...","{'2016-01-02': 11, '2016-01-13': 2, '2016-01-1...","{'2016-01-02': 50, '2016-01-13': 70, '2016-01-...","{'2016-01-02': 14, '2016-01-13': 93, '2016-01-...","{'likes': {'2016-01-02': 50, '2016-01-13': 70,...","{'birthDate': '1976-01-01T00:00:00.000Z', 'age...",00b74e27ad1cbb2ded8e907fcc49eaaf
1,024610702baf540af5637873cd1534e9,"{'2016-07-12': 20, '2016-07-13': 18, '2016-07-...","[{'match_id': 'Match 464', 'messages': [{'to':...","{'nrOfConversations': 464, 'longestConversatio...","{'2016-07-12': 1, '2016-07-13': 0, '2016-07-14...","{'sent': {'2016-07-12': 0, '2016-07-13': 0, '2...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 221, '2016-07-...","{'2016-07-12': 0, '2016-07-13': 61, '2016-07-1...","{'likes': {'2016-07-12': 0, '2016-07-13': 221,...","{'birthDate': '1997-07-04T00:00:00.000Z', 'age...",024610702baf540af5637873cd1534e9
2,0a5e3dd8489fe67485ddb7d6adb26ebd,"{'2019-07-01': 61, '2019-07-02': 154, '2019-07...","[{'match_id': 'Match 303', 'messages': [{'to':...","{'nrOfConversations': 303, 'longestConversatio...","{'2019-07-01': 13, '2019-07-02': 12, '2019-07-...","{'sent': {'2019-07-01': 12, '2019-07-02': 66, ...","{'2019-07-01': 6, '2019-07-02': 70, '2019-07-0...","{'2019-07-01': 12, '2019-07-02': 66, '2019-07-...","{'2019-07-01': 87, '2019-07-02': 39, '2019-07-...","{'2019-07-01': 30, '2019-07-02': 12, '2019-07-...","{'likes': {'2019-07-01': 87, '2019-07-02': 39,...","{'birthDate': '1998-02-06T00:00:00.000Z', 'age...",0a5e3dd8489fe67485ddb7d6adb26ebd

In [140]:
#define the dataframe 
df = profile_copy

In [141]:
#get the user id
allusersids = []
for uniqueid in df.userId:
    userid = uniqueid[-6:]
    allusersids.append(userid)
print(len(allusersids))

1209

In [142]:
#Take 100 app onenings for each user and check how many times it open the app in a day
all_opens = []
for open in df.appOpens:
    dates = []
    for date in open:
        dates.append(open[date])
    dates=dates[:100]
    all_opens.append(dates)
len(all_opens)

1209

In [143]:
#Take 100 conversations for each user in a list to add it to our dataFrame 
all_messages=[]
for conversation in df.conversations:
    messages=[]
    for match in conversation:
        for message in match['messages']:
            if 'message' in message.keys():
                messages.append(message['message'])
    messages=messages[:100]
    all_messages.append(messages)
len(all_messages)

1209

In [144]:
#Take the conversationsMeta of each user and brake down the dictionary format
""""This is in a total time frame but the other has a len of 100, it that a problem  """ 
totalNrOfConversation=[]
totalLongestConversation=[]
totalLongestConversationInDay=[]
totalNrOfOneMessageConversation=[]


for conversationMeta in df.conversationsMeta:
    for nrOfConversation in conversationMeta:
        if nrOfConversation == 'nrOfConversations':
            nrOfConversations = 0
            nrOfConversations += (conversationMeta[nrOfConversation])
    totalNrOfConversation.append(nrOfConversations)


for conversationMeta in df.conversationsMeta:
    for longestConversa in conversationMeta:
        if longestConversa == 'longestConversation':
            longestConver = 0
            longestConver += (conversationMeta[longestConversa])
    totalLongestConversation.append(longestConver)
        

for conversationMeta in df.conversationsMeta:
    for longestConversationInDay in conversationMeta:
        if longestConversationInDay == 'longestConversationInDays':
            longestConverDay = 0
            longestConverDay += conversationMeta[longestConversationInDay]
    totalLongestConversationInDay.append(longestConverDay)
    
    
for conversationMeta in df.conversationsMeta:
    for nrOfOneMessageConversation in conversationMeta:
        if nrOfOneMessageConversation == 'nrOfOneMessageConversations':
            nrOfOneMessageConver = 0
            nrOfOneMessageConver += conversationMeta[nrOfOneMessageConversation]
    totalNrOfOneMessageConversation.append(nrOfOneMessageConver)

print('totalNrOfConversation', len(totalNrOfConversation))
print('totalLongestConversation', len(totalLongestConversation))
print('totalLongestConversationInDay', len(totalLongestConversationInDay))
print('totalNrOfOneMessageConversation', len(totalNrOfOneMessageConversation))

totalNrOfConversation 1209
totalLongestConversation 1209
totalLongestConversationInDay 1209
totalNrOfOneMessageConversation 1209

In [145]:
#Take 100 app matches for each user and check how many times it open the app in a day
all_matches = []
for love in df.matches:
    matches = []
    for heart in love:
        matches.append(love[heart])
    matches=matches[:100]
    all_matches.append(matches)
len(all_matches)

1209

In [146]:
#Take 100 app swipeLikes for each user and check how many times it open the app in a day
all_swipeLikes = []
for atraction in df.swipeLikes:
    matches = []
    for heart in atraction:
        matches.append(atraction[heart])
    matches=matches[:100]
    all_swipeLikes.append(matches)
len(all_swipeLikes)

1209

In [147]:
#Take 100 app swipePasses for each user and check how many times it open the app in a day
all_swipePasses = []
for dislike in df.swipePasses:
    dislikes = []
    for left in dislike:
        dislikes.append(dislike[left])
    dislikes=dislikes[:100]
    all_swipePasses.append(dislikes)
len(all_swipePasses)

1209

In [148]:
#Take user anonymous data and break down the dictionary format
allBirthDates=[]
allcities = []
allcountreis=[]
allgenders=[]
allinterestedIn=[]

#Users date of birth
for person in df.user:
    for birthDate in person:
        if birthDate == 'birthDate':
            date = person[birthDate][:10]
            userBirthDate = []
            userBirthDate.append(date)
    allBirthDates.append(userBirthDate)

#Users city
for person in df.user:
    for city in person:
        if city == 'cityName':
            cities = []
            cities.append(person[city])
    allcities.append(cities)

#Users country
for person in df.user:
    for country in person:
        if country == 'country':
            countries = []
            countries.append(person[country])
    allcountreis.append(countries)
        
#Users gender
for person in df.user:
    for gender in person:
        if gender == 'gender':
            genders = []
            genders.append(person[gender])
    allgenders.append(genders)

#Users interest In
for person in df.user:
    for interest in person:
        if interest == 'interestedIn':
            searching = []
            searching.append(person[interest])
    allinterestedIn.append(searching)


print(len(allBirthDates))
print(len(allcities))
print(len(allcountreis))
print(len(allgenders))
print(len(allinterestedIn))

1209
1209
1209
1209
1209

In [149]:
df['user_id']=allusersids
df['app_opens']=all_opens
df['all_messages']=all_messages
df['number_conversations']= totalNrOfConversation
df['longest_conver']=totalLongestConversation
df['longest_conver_day']=totalLongestConversationInDay
df['num_messages_conver']=totalNrOfOneMessageConversation
df['all_matches']=all_matches
df['all_swipeLikes']=all_swipeLikes
df['all_swipePasses']=all_swipePasses
df['all_BirthDates']= allBirthDates
df['all_Cities']= allcities
df['all_Countreis']= allcountreis
df['all_genders']= allgenders
df['all_interestedIn']= allinterestedIn

df.head()

,_id,appOpens,conversations,conversationsMeta,matches,messages,messagesReceived,messagesSent,swipeLikes,swipePasses,...,longest_conver_day,num_messages_conver,all_matches,all_swipeLikes,all_swipePasses,all_BirthDates,all_Cities,all_Countreis,all_genders,all_interestedIn
0,00b74e27ad1cbb2ded8e907fcc49eaaf,"{'2016-01-02': 26, '2016-01-13': 10, '2016-01-...","[{'match_id': 'Match 739', 'messages': [{'to':...","{'nrOfConversations': 739, 'longestConversatio...","{'2016-01-02': 10, '2016-01-13': 5, '2016-01-1...","{'sent': {'2016-01-02': 11, '2016-01-13': 2, '...","{'2016-01-02': 12, '2016-01-13': 3, '2016-01-1...","{'2016-01-02': 11, '2016-01-13': 2, '2016-01-1...","{'2016-01-02': 50, '2016-01-13': 70, '2016-01-...","{'2016-01-02': 14, '2016-01-13': 93, '2016-01-...",...,683.557442,226,"[10, 5, 9, 8, 6, 13, 4, 14, 2, 12, 2, 8, 2, 4,...","[50, 70, 21, 5, 29, 92, 27, 77, 84, 76, 82, 93...","[14, 93, 75, 96, 71, 38, 76, 56, 21, 49, 41, 2...",[1976-01-01],[Trondheim],[Norway],[M],[F]
1,024610702baf540af5637873cd1534e9,"{'2016-07-12': 20, '2016-07-13': 18, '2016-07-...","[{'match_id': 'Match 464', 'messages': [{'to':...","{'nrOfConversations': 464, 'longestConversatio...","{'2016-07-12': 1, '2016-07-13': 0, '2016-07-14...","{'sent': {'2016-07-12': 0, '2016-07-13': 0, '2...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 0, '2016-07-14...","{'2016-07-12': 0, '2016-07-13': 221, '2016-07-...","{'2016-07-12': 0, '2016-07-13': 61, '2016-07-1...",...,622.466528,56,"[1, 0, 1, 1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 221, 108, 215, 110, 215, 118, 115, 116, 4,...","[0, 61, 19, 90, 23, 54, 40, 42, 29, 0, 42, 23,...",[1997-07-04],[Richmond],[VA],[M],[F]
2,0a5e3dd8489fe67485ddb7d6adb26ebd,"{'2019-07-01': 61, '2019-07-02': 154, '2019-07...","[{'match_id': 'Match 303', 'messages': [{'to':...","{'nrOfConversations': 303, 'longestConversatio...","{'2019-07-01': 13, '2019-07-02': 12, '2019-07-...","{'sent': {'2019-07-01': 12, '2019-07-02': 66, ...","{'2019-07-01': 6, '2019-07-02': 70, '2019-07-0...","{'2019-07-01': 12, '2019-07-02': 66, '2019-07-...","{'2019-07-01': 87, '2019-07-02': 39, '2019-07-...","{'2019-07-01': 30, '2019-07-02': 12, '2019-07-...",...,295.283414,106,"[13, 12, 23, 15, 9, 5, 2, 1, 0, 3, 0, 0, 1, 1,...","[87, 39, 122, 67, 35, 14, 26, 98, 46, 99, 15, ...","[30, 12, 48, 26, 18, 10, 19, 55, 19, 99, 12, 4...",[1998-02-06],[Richmond],[VA],[M],[F]
3,048dd37565ad9cbc24c163ffedffbf58,"{'2019-09-25': 69, '2019-09-26': 52, '2019-09-...","[{'match_id': 'Match 47', 'messages': [{'to': ...","{'nrOfConversations': 47, 'longestConversation...","{'2019-09-25': 5, '2019-09-26': 5, '2019-09-27...","{'sent': {'2019-09-25': 19, '2019-09-26': 19, ...","{'2019-09-25': 13, '2019-09-26': 3, '2019-09-2...","{'2019-09-25': 19, '2019-09-26': 19, '2019-09-...","{'2019-09-25': 58, '2019-09-26': 141, '2019-09...","{'2019-09-25': 51, '2019-09-26': 232, '2019-09...",...,130.034410,3,"[5, 5, 4, 2, 4, 5, 3, 3, 2, 2, 0, 2, 2, 0, 0, ...","[58, 141, 62, 22, 198, 54, 180, 99, 99, 8, 162...","[51, 232, 63, 22, 192, 29, 236, 85, 99, 8, 148...",[1998-02-24],[Edmonton],[Alberta],[M],[F]
4,0eb998fdde77f9c123c07eace18a5cc1,"{'2017-11-17': 23, '2017-11-18': 68, '2017-11-...","[{'match_id': 'Match 809', 'messages': [{'to':...","{'nrOfConversations': 809, 'longestConversatio...","{'2017-11-17': 0, '2017-11-18': 1, '2017-11-19...","{'sent': {'2017-11-17': 0, '2017-11-18': 5, '2...","{'2017-11-17': 0, '2017-11-18': 4, '2017-11-19...","{'2017-11-17': 0, '2017-11-18': 5, '2017-11-19...","{'2017-11-17': 2, '2017-11-18': 144, '2017-11-...","{'2017-11-17': 6, '2017-11-18': 1251, '2017-11...",...,198.390972,296,"[0, 1, 1, 3, 2, 1, 1, 1, 2, 0, 1, 4, 3, 3, 3, ...","[2, 144, 145, 141, 95, 98, 196, 100, 79, 95, 9...","[6, 1251, 527, 626, 365, 490, 1046, 296, 195, ...",[1996-11-10],[Edmonton],[Alberta],[M],[F]